html, body {
    margin: 0;
    padding: 0;
}
#container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}
#mapcontainer {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0; left: 0;     /* margin-box充满父元素的padding-box */
   	 width: 200px; height: 100px;
    margin: auto;	/* margin-left、margin-right 均分*/
}
.text-label {
    font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    pointer-events:none;  
    transform-origin: left top;

    word-wrap:break-word;  
    word-break:break-all;  
    overflow: hidden;
    
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-size: 12px;
    color: #212121;
    width: 144px;
    padding: 8px;
    opacity: 0.75;
}
.text-label:after {
    content: '...';
    color: #1a73e8;
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}
.text-label>div:first-child {
    font-weight: bold;
}
.camerastream {
    width: 100%;
    height: 100%;
    z-index:-1;
    position: absolute;
}
