#mapcontainer {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0; left: 0;     /* margin-box充满父元素的padding-box */
   	 width: 200px; height: 100px;
    margin: auto;	/* margin-left、margin-right 均分*/
}
.amap-logo {
    display: none;
}
.fullscreen {
    position: fixed;
    left: 50px;
    bottom: 50px;
    line-height: 0;
}
.fullscreen > svg:nth-child(1){
    animation-iteration-count: infinite;
    animation-name: twinkle;
    animation-duration: 1s;
}
.fullscreen > svg:nth-child(2){
    display: none;
}
.fullscreen.exit > svg:nth-child(2){
    display: block;
}
.fullscreen.exit > svg:nth-child(1){
    display: none;
}
@keyframes twinkle {
    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }
}
.camerastream {
    width: 100%;
    height: 100%;
    z-index:-1;
    position: absolute;
}
